*
!.gitignore
!.i3/config
!.xinitrc
!.xinitrc-xrun
!.zprofile
!.zshrc
!.Xresources
!.config/compton.conf
!.config/conkyrc
!.config/dunstrc
!.config/termite/config
!.config/rofi/config
!.config/i3blocks
!.vimrc
!.local/bin/conky-i3bar
!.local/bin/dmenu-run
!.local/bin/rofi-drun
!.local/bin/xrun
