*
!.gitignore
!.i3/config
!.i3/simple
!.i3/i3-alternating-layouts.py
!.xinitrc
!.xinitrc-xrun
!.zprofile
!.zshrc
!.vimrc
!.npmrc
!.Xresources
!.config/compton.conf
!.config/conkyrc
!.config/dunstrc
!.config/termite/config
!.config/rofi/config
!.config/i3blocks
!.config/systemd/user
!.local/bin/dmenu-run
!.local/bin/rofi-drun
!.local/bin/xrun
!.local/bin/xterm
!.local/bin/wininfo
